#titulo_profesional {
    border: 0px solid red;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}
#empresas {
    border: 0px solid red;
    width: 100%;
    height: 100%;
    font-family: monospace;
    text-align: center;
}
#tecnologias {
    border: 0px solid red;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}
#tec_front_end {
    border: 0px solid red;
    width: 100%;
    height: 50%;
    font-family: monospace;
    text-align: left;
}
#salir {
    border: 0px solid red;
    width: 100%;
    height: 50%;
    font-family: monospace;
    text-align: right;
}