
@{
    ViewBag.Title = "HistorialProfesional";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href="~/Content/historialprofesional.css" rel="stylesheet" />

<table id="titulo_profesional">
    <tbody>
        <tr><td><h1>Historial Profesional</h1></td></tr>
    </tbody>
</table>
<br />
<table id="empresas" class="table">
    <tbody>
        <tr><td><b>Empresa</b></td><td><b>Nombre Corto</b></td><td><b>Giro</b></td><td><b>Puesto</b></td><td><b>Tiempo</b></td><td><b>Proyecto</b></td></tr>
        <tr><td>Lotería Nacional</td><td>LN</td><td>Sorteos</td><td>Desarrollador .NET - Full Stack</td><td>Mayo 2022 - Mayo 2023</td><td>Sistema Web Control Visitas</td></tr>
        <tr><td>Uva Unidad de valuación abalkan</td><td>UVA</td><td>Valuación</td><td>Desarrollador .NET - Full Stack</td><td>Junio 2021 - Marzo 2022</td><td>Ibis Web</td></tr>
        <tr><td>Grupo Ordaz</td><td>Howden México</td><td>Seguros</td><td>Desarrollador .NET - Full Stack</td><td>Abril 2018 - Junio 2018</td><td>Reportes Dinámicos</td></tr>
    </tbody>
</table>
<br />
<table id="tecnologias">
    <tbody>
        <tr><td><h3>Tecnologías Usadas</h3></td></tr>
    </tbody>
</table>
<br />
<table id="tec_control_versiones">
    <tbody>
        <tr>
            <td align="left"><h3>Lenguajes utilizados</h3></td>
        </tr>
        <tr>
            <td>
                <img src="~/img_png/.net.png" />
                <img src="~/img_png/netcore.png" />
                <img src="~/img_png/c_charp.png" />
                <img src="~/img_png/php.png" />
                <img src="~/img_png/java.png" />
            </td>
        </tr>
    </tbody>
</table>
<br />
<table id="tec_front_end">
    <tbody>
        <tr>
            <td align="left"><h3>Front End</h3></td>
            <td align="left"><h3>Back End</h3></td>
        </tr>
        <tr>
            <td>
                <img src="~/img_png/html5.png" />
                <img src="~/img_png/css.png" />
                <img src="~/img_png/bootstrap.png" />
                <img src="~/img_png/javascript.png" />
                <img src="~/img_png/jquery.png" />
                <img src="~/img_png/ajax.jpg" />
                <img src="~/img_png/json.png" />

            </td>
            <td>
                <img src="~/img_png/sqlserver.png" />
                <img src="~/img_png/mysql.png" />
                <img src="~/img_png/oracledb.png" />
            </td>
        </tr>
    </tbody>
</table>
<br />
<table id="tec_front_end">
    <tbody>
        <tr>
            <td align="left"><h3>Control de Versiones</h3></td>
            <td align="left"><h3></h3></td>
        </tr>
        <tr>
            <td>
                <img src="~/img_png/tfs.png" />
                <img src="~/img_png/git.png" />
            </td>
            <td>
                <div class="col-10">
                    <div class="form-group">
                        <label class="btn btn-warning" onclick="history.back()">regresar al menu principal</label>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
